@import './common/common';
#compare {
  height: 100%;
  .person {
    height: 2rem;
    margin: 0.25rem 0;
    box-sizing: border-box;
    padding: 0.18rem 0.3rem;
    background: #fff;
    border-bottom: 1px solid #eee;
    box-shadow: 4px 0px 4px #eee;
    border: 1px solid #eee;
    div {
      float: left;
      height: 100%;
      line-height: 1.5rem;
      padding: 0 0.03rem;
      p {
        line-height: 0.7rem;
      }
    }
    .button {
      float: right;
    } 
    img {
      height: 1.7rem;
      width: 1.7rem;
      background: #eee;
      border-radius: 0.04rem;
    }
    .person-info {
      font-size: 0.4rem;
      line-height: 0.4rem;
      padding-left: 0.25rem;
    }
    .similarity {
      font-size: 0.55rem;
      margin-left: 0.5rem;
    }
    label {
      font-weight: bold;
    }
  }
  .tips {
    height: 1rem;
    margin: 0.24rem 0;
    padding: 1rem 0;
    box-sizing: border-box;
    background: #fff;
    text-align: center;
    font-size: 0.3rem;
    box-shadow: 4px 0px 4px #eee;
    border: 1px solid #eee;

  }

  .btn-group {
    width: 80%;
    margin: 0 auto;
  }
  
  .spinner {
    position: absolute;
    left: 45%;
    top: 50%;
  }

}
